.hero-header{
    padding-top: 160px;
    padding-bottom: 100px;
    position: relative;
}

.navbar-light{
    margin-right: 25px;
    padding: 35px 0px !important;
    font-size: 16px !important;
    font-weight: 500 !important;
}
.nav-bg{
    background: #f6f6fa !important;
    position: fixed !important;
    z-index: 10;
}
.navbar-nav a:hover{
    color: #f74780 !important;
}

.before1{
    content: "";
    border: 30px solid rgba(247, 71, 128, 0.05);
    border-radius: 200px;
    width: 400px;
    height: 400px;
    position: absolute;
    background: transparent;
    z-index: -1;
    bottom: -9%;
    left: -7%;
    animation: RotateMoveHeader 5s linear infinite;
}
@keyframes RotateMoveHeader{
    0%{
        transform:rotateZ(0deg) rotate(0deg) translate3d(0, 1%, 0) rotateZ(0deg);
    }
    100%{
        transform: rotateZ(360deg) rotate(360deg) translate3d(0, 1%, 0) rotateZ(-360deg);
    }
    0%{
        bottom: 0px;
    }
    50%{
        left: -10px;
    }
    75%{
        bottom: 9%;
    }
    100%{
        bottom: 0px;
    }
}


.before2{
    content: "";
    border: 30px solid rgba(102, 16, 242, 0.05);
    border-radius: 150px;
    width: 300px;
    height: 300px;
    position: absolute;
    background: transparent;
    z-index: -1;
    left: 100px;
    bottom: 100px;
    animation: RotateMoveSty-4 45s linear infinite;
}
@keyframes RotateMoveSty-4{
    0%{
        left: 100px;
    }
    40%{
        bottom: -0px;
    }
    50%{
        left: 700px;
    }
    70%{
        bottom: 500px;
    }
    80%{
        left: 400px;
    }
    95%{
        bottom: -0px;
    }
    100%{
        left: 100px;
    }
}


.after1{
    content: "";
    transition: 0.5s;
    background: url(img/sty-1.png) center center no-repeat;
    width: 58px;
    height: 50px;
    position: absolute;
    z-index: -1;
    left: 100px;
    bottom: 100px;
    animation: RotateMoveSty-3 45s linear infinite;
}
@keyframes RotateMoveSty-3{
    0%{
        left: 100px;
    }
    40%{
        bottom: -0px;
    }
    50%{
        left: 700px;
    }
    70%{
        bottom: 500px;
    }
    80%{
        left: 400px;
    }
    95%{
        bottom: -0px;
    }
    100%{
        left: 100px;
    }
}


.hero-header::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
    height: 100%;
    background-color: #f6f6fa;
    border-radius: 22% 78% 33% 67% / 32% 0% 100% 68%;
    z-index: -1;
    animation: bgMove 5s linear infinite;
}







.button-1{
    border-color: #f74780 !important;
    font-family: "Rubik",sans-serif !important;
}
.button-1:hover{
    background-color: #f74780 !important;
    color: white !important;
}

.button-2{
    background-color: #f74780 !important;
    color: white !important;
    font-family: "Rubik",sans-serif !important;
}
.button-2:hover{
    border-color: #f74780 !important;
    background-color: white !important;
    color: #f74780 !important;
}

.button-3{
    background-color: #f6f6fa !important;
    color: #f74780 !important;
    font-family: "Rubik",sans-serif !important;
}
.button-3:hover{
    background-color: #f74780 !important;
    color: white !important;
}
.text-color{
    color: #f74780 !important;
}

.display-6{
    font-weight: 600 !important;
}

h4{
    font-family: "Plus Jakarta Sans",sans-serif !important;
    font-weight: 500 !important;
    color: #353f4f !important;
}

p{
    font-family: "Rubik", sans-serif !important;
    font-size: 1rem !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    color: #757575 !important;
}

.display-4{
    font-size: 3rem !important;
    font-weight: 700 !important;
    color: #353f4f !important;
    font-family: "Plus Jakarta Sans",sans-serif !important;
}

.margin-b{
    margin-bottom: 70px !important;
}

.logo-color{
    color: #6610f2 !important;
}

.service-item{
    box-shadow: 0 0 45px rgba(0, 0, 0, 0.1);
}
.service-item:hover{
    background-color: rgba(102, 16, 242, 0.09);
    transition: 0.5s !important;
}

.RotateMoveLeft{
    position: relative;
    animation: RotateMoveLeft 10s linear infinite;
}
@keyframes RotateMoveLeft{
    0%{
        left: 0px;
    }
    50%{
        left: 40px;
    }
    100%{
        left: 0px;
    }
}

.feature-content a{
    font-size: 1.5rem !important;
    /* font-weight: !important; */
    color: #353f4f !important;
    font-family: "Plus Jakarta Sans",sans-serif !important;
}
.feature-content a:hover{
    color: #f74780 !important;
}

.features-img img{
    background-color: #f6f6fa;
    border-radius: 58% 42% 21% 79% / 30% 29% 71% 70%;
}

.small{
    color: #353f4f !important;
    font-weight: 400 !important;
    font-family: "Rubik", sans-serif !important;
}

.accordion-button:not(.collapsed){
    color: #f74780 !important;
    background-color: #feedf2 !important;
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.125) !important;
}

.text-dark{
    color: #353f4f !important;
    font-family: "Rubik", sans-serif !important;
}

.premium{
    color: #6610f2 !important;
}

.price-item:hover{
    background-color: white !important;
    box-shadow: 0 0 45px rgba(0, 0, 0, 0.1) !important;
    transition: 0.5s !important;
}

.blog-content{
    border-bottom-right-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
}

.blog-img{
    position: relative !important;
    /* overflow: hidden !important; */
    background: rgba(102, 16, 242, 0.2) !important;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    transition: 0.5s;
}
.blog-img:hover{
    scale: 1.1;
    background: #353f4f;
}

.blog-info{
    position: absolute !important;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    padding: 20px;
    background-color: rgba(102, 16, 242, 0.2);
    display: flex;
    align-items: end;
    justify-content: space-between;
    /* transition: 0.5s; */
}

.carousel-control-next, .carousel-control-prev{
    top: 50% !important;
    color: #f74780 !important;
    background: rgba(102, 16, 242, 0.09) !important;
    border-radius: 50% !important;
    width: 65px !important;
    height: 65px !important;
}

.carousel-control-prev:hover{
    background-color: #f74780 !important;
    color: white !important;
    transition: all 0.5s !important;
}
.carousel-control-next:hover{
    background-color: #f74780 !important;
    color: white !important;
    transition: all 0.5s !important;
}
.carousel-indicators [data-bs-target]{
    width: 50px !important;
    height: 50px !important;
    border-radius: 40px !important;
    border: 3px solid #353f4f !important;
}
.carousel-indicators{
    bottom: -60px !important;
}
.padding-10{
    padding-bottom: 100px !important;
}
.testimonial-1{
    background-image: url(img/testimonial-img-1.jpg) !important;
    background-size: cover !important;
}
.testimonial-2{
    background-image: url(img/testimonial-img-2.jpg) !important;
    background-size: cover !important;
}
.testimonial-3{
    background-image: url(img/testimonial-img-3.jpg) !important;
    background-size: cover !important;
}

.footer{
    background: linear-gradient(rgba(102, 16, 242, 0.05), rgba(102, 16, 242, 0.05));
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer-item a{
    text-decoration: none;
    color: #353f4f !important;
    line-height: 35px;
    font-family: "Rubik", sans-serif !important;
    font-size: 1rem;
    font-weight: 400;
    transition: 0.5s;
}
.footer-item a:hover{
    color: #f74780 !important;
    letter-spacing: 2px !important;
}
.share-icon{
    color: #6610f2;
}
.btn-icon{
    background: #f74780 !important;
    color: #fff !important;
}

.btn-square{
    padding: 0;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    border-radius: 50px !important;
    width: 32px !important;
    height: 32px !important;
}

.footer2{
    border-top: 1px solid rgba(255, 255, 255, 0.08);
    background: #353f4f;
}

.testimonial-carousel{
    padding: 0px 35px;
    position: relative;
    transition: 0.5s;
}

.owl-stage-outer{
    position: relative;
    overflow: hidden;
}