.hero-header{
    padding-top: 160px;
    padding-bottom: 100px;
    position: relative;
}

.navbar-light{
    margin-right: 25px;
    padding: 35px 0px !important;
    font-size: 16px !important;
    font-weight: 500 !important;
}

.bg-light{
    background-color: #f6f6fa !important;
}

.button-1{
    border-color: #f74780 !important;
    font-family: "Rubik",sans-serif !important;
}
.button-1:hover{
    background-color: #f74780 !important;
    color: white !important;
}

.button-2{
    background-color: #f74780 !important;
    color: white !important;
    font-family: "Rubik",sans-serif !important;
}
.button-2:hover{
    border-color: #f74780 !important;
    background-color: white !important;
    color: #f74780 !important;
}

.button-3{
    background-color: #f6f6fa !important;
    color: #f74780 !important;
    font-family: "Rubik",sans-serif !important;
}
.button-3:hover{
    background-color: #f74780 !important;
    color: white !important;
}

.text-color{
    color: #f74780 !important;
}

.display-6{
    font-weight: 600 !important;
}

h4{
    font-family: "Plus Jakarta Sans",sans-serif !important;
    font-weight: 500 !important;
    color: #353f4f !important;
}

p{
    font-family: "Rubik", sans-serif !important;
    font-size: 1rem !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    color: #757575 !important;
}

.display-4{
    font-size: 3rem !important;
    font-weight: 700 !important;
    color: #353f4f !important;
    font-family: "Plus Jakarta Sans",sans-serif !important;
}

.margin-b{
    margin-bottom: 70px !important;
}

.logo-color{
    color: #6610f2 !important;
}

.service-item{
    box-shadow: 0 0 45px rgba(0, 0, 0, 0.1);
}
.service-item:hover{
    background-color: rgba(102, 16, 242, 0.09);
    transition: 0.5s !important;
}

.feature-content a{
    font-size: 1.5rem !important;
    /* font-weight: !important; */
    color: #353f4f !important;
    font-family: "Plus Jakarta Sans",sans-serif !important;
}
.feature-content a:hover{
    color: #f74780 !important;
}

.small{
    color: #353f4f !important;
    font-weight: 400 !important;
    font-family: "Rubik", sans-serif !important;
}

.accordion-button:not(.collapsed){
    color: #f74780 !important;
    background-color: #feedf2 !important;
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.125) !important;
}

.text-dark{
    color: #353f4f !important;
    font-family: "Rubik", sans-serif !important;
}

.premium{
    color: #6610f2 !important;
}

.price-item:hover{
    background-color: white !important;
    box-shadow: 0 0 45px rgba(0, 0, 0, 0.1) !important;
    transition: 0.5s !important;
}

.blog-content{
    border-bottom-right-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
}

.blog-img{
    position: relative !important;
    overflow: hidden !important;
    background: rgba(102, 16, 242, 0.2) !important;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
}
.blog-img:hover{
    scale: 1;
}

.blog-info{
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    padding: 20px;
    background-color: rgba(102, 16, 242, 0.2);
    display: flex;
    align-items: end;
    justify-content: space-between;
    transition: 0.5s;
}