.display-6{
    font-weight: 600 !important;
}
.navbar-light{
    margin-right: 25px;
    padding: 35px 0px !important;
    font-size: 16px !important;
    font-weight: 500 !important;
}

.text-color{
    color: #f74780 !important;
}

.margin-b{
    margin-bottom: 70px !important;
}

.logo-color{
    color: #6610f2 !important;
}

.service-item{
    box-shadow: 0 0 45px rgba(0, 0, 0, 0.1);
}

h4{
    font-family: "Plus Jakarta Sans",sans-serif !important;
    font-weight: 500 !important;
    color: #353f4f !important;
}

p{
    font-family: "Rubik", sans-serif !important;
    font-size: 1rem !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    color: #757575 !important;
}

.display-4{
    font-size: calc(1.425rem + 2.1vw) !important;
    font-weight: 700 !important;
    color: #353f4f !important;
    font-family: "Plus Jakarta Sans",sans-serif !important;
}